*{
    box-sizing: border-box;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-Bold.eot');
	src: url('fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-Bold.woff') format('woff'),
		url('fonts/Raleway-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-Regular.eot');
	src: url('fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-Regular.woff') format('woff'),
		url('fonts/Raleway-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-Italic.eot');
	src: url('fonts/Raleway-Italic.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-Italic.woff') format('woff'),
		url('fonts/Raleway-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('fonts/Raleway-Light.eot');
	src: url('fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/Raleway-Light.woff') format('woff'),
		url('fonts/Raleway-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

body{
    font-family: 'Raleway', 'Arial', sans-serif;
}

a{
  text-decoration: none;
}

.container{
    margin: 0px auto;
    max-width: 1064px;
}

.row:after{
    clear: both;
    display: block;
    content: '';
}

.hidden{
    display: none;
}

.menue-main{
    background-color: #000;
    color: #fff;
    font-size: 14px;
    width: 100%;
    height: 41px;
}

nav a{
    color: #fff;
}

nav > a{
  padding: 12px 0;
  float: left;
}

header ul{
    float: right;
    padding-top: 12px;
}

header ul li{
    display: inline-block;
    padding: 0 8px 7px 40px;
    font-weight: 700;
    cursor: pointer;
}

header ul li:first-child{
  position: relative;
}

.menue {
    position: absolute;
    background-color: #000;
    margin-top: 1px;
    left: 10%;
}

.menue li{
    display: block;
    padding: 8px 22px;
    font-weight: 400;
}

.menue li:first-child{
    background-color: #fff;
    padding: 0;
}

.triangle{
    height: 0;
    width: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 10px solid #000;
    margin: 0 auto;
}

span{
    color: #25b9a3;
}

.top{
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #d1d0d8 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #d1d0d8));
    background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #d1d0d8 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #d1d0d8 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #d1d0d8 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #d1d0d8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1d0d8', GradientType=0);
    width: 100%;
    height: 500px;
}

.arrow{
    color: #25b9a3;
    font-size: 80px;
    position: absolute;
    font-weight: 100;
    margin-top: 207px;
    cursor: pointer;
}

.right{
    margin-left: 1021px;
}

.image{
    height: 430px;
    width: 400px;
    float: left;
    margin-top: 64px;
    margin-left: 57px;
}

.slider div{
   height: 430px;
   width: 400px;
    background-position: center;
    background-repeat: no-repeat;
}

.img1{
    background-image: url(../images/black_chair.png);
    background-size: cover;
}

.img2{
    background-image: url(../images/orange.png);
    background-size: contain;
}

.img3{
    background-image: url(../images/red_chair.png);
    background-size: contain;
}

.text{
    float: left;
    width: 425px;
    text-align: center;
    margin-top: 133px;
    margin-left: 33px;
}

h1{
   text-transform: uppercase;
   font-size: 40px;
   padding-bottom: 30px;
}

.text p {
    font-size: 15px;
    padding-bottom: 40px;
    line-height: 22px;
}

.text a{
    font-size: 25px;
    background-color: #25b9a3;
    color: #fff;
    border-radius: 10px;
    padding: 10px 35px;
    text-transform: uppercase;
}

.chairs{
    height: 354px;
}

.products{
    width: 330px;
    height: 224px;
    float: left;
    margin: 31px 27px 0 0;
}

.box1{
    background-image: url(../images/box1_img.jpg);
}

.box2{
    background-image: url(../images/box2_img.jpg);
}

.box1, .box2{
  cursor: pointer;
}

.products div:first-child{
    background-color: #fff;
    background-color: rgba(255, 255, 255, .3);
    margin-top: 150px;
    padding: 11px 0px 0px 12px;
}

h3 {
    font-weight: 700;
}
.chairs h3{
    padding-bottom: 21px;
}

.chairs h3:after{
    content: '';
    width: 141px;
    border-bottom: 7px solid #25b9a3;
    display: block;
}

.box3{
    border: 1px solid #e3e3e3;
    margin: 30px 0 0 0;
    padding: 27px 0 0 20px;
    height: 255px;
}

.box3 p{
    font-size: 14px;
    padding-bottom: 14px;
    line-height: 22px;
}

h2{
    font-size: 22px;
    font-weight: 600;
    color: #575757;
    text-transform: uppercase;
    padding: 2px 0 3px 0;
    border-bottom: 10px solid #25b9a3;
    width: 320px;
}

.price{
    padding-top: 40px;
    height: 724px;
    width: 100%;
    background-color:#f1f1f1;
}

.price_list{
    border: 2px solid #d6d6d6;
    height: 500px;
    width: 326px;
    text-align: center;
    margin-top: 76px;
    position: relative;
    float: left;
    background-color: #fff;
    cursor: pointer;
}

.center{
    margin: 76px 30px 0 30px;
}

.circle{
    position: absolute;
    background-color: #c0c0c0;
    border-radius: 50%;
}

.inside{
    border: 13px solid white;
    height: 49px;
    width: 49px;
    left: 137px;
    top: -36px;
    z-index: 1;
    padding: 0px;
}

.outside{
    height: 53px;
    width: 53px;
    border: 1px solid #d6d6d6;
    left: 135px;
    top: -38px;
}

.price_list h2{
    margin-top: 22px;
    font-weight: 100;
    color: #25b9a3;
    font-weight: 400;
    border-bottom: 0 solid transparent;
}

.price_circle{
    border: 2px solid #d6d6d6;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    margin: 27px 0 31px 95px;
    padding-top: 36px;
    background-color:#fff;
    color: #c0c0c0;

}

.price_list p{
    text-align: center;
    line-height: 28px;
    margin: 0;
    padding: 0;
    font-size: 42px;
    font-weight: 700;

}

.price_list span{
    font-size: 16px;
    color: #c0c0c0;
    font-weight: 500;
}

sup {
    top: -1.3em;
    font-size: 38%;
}

.price_list li{
    list-style: none;
    padding: 8px 0 8px 0;
    font-size: 24px;
    color: #989898;
}

.price_list li:nth-child(2n+1){
    background-color: #e4e4e4;
}
.price_list li:nth-child(2n){
    background-color:#f1f1f1;
}

.price_list ul{
    margin-bottom: 124px;
}

.center ul{
    margin-bottom: 76px;
}

#right ul{
    margin-bottom: 31px;
}

.price_list a{
   color: #fff;
   background-color: #25b9a3;
   padding: 9px 31px;
   font-size: 15px;
   border-radius: 10px;
}

.price_list:hover{
    border-color: #25b9a3;
    background-color: #25b9a3;
}

.price_list:hover h2{
    color: #fff;
}
.price_list:hover p, .price_list:hover p>span{
    color: #25b9a3;
}
.price_list:hover .inside{
    border-color: #25b9a3;
    background-color: #fff;
}

.price_list:hover .outside{
    border-color: #25b9a3;
    background-color: #25b9a3;
}

.price_list:hover a{
    background-color: #fff;
    color: #25b9a3;
}

.price_list:hover li:nth-child(2n+1){
   background-color:#f1f1f1;
}

.price_list:hover li:nth-child(2n){
    background-color: #e4e4e4;
}

.application {
  background-color: #f9f9f9;
  padding:30px 0;
}
.application h3 {
  color: #575757;
  font-size: 18px;
}

.application header.align_right{
  text-align: right;
}
.main_width{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
.inline {
  display:inline-block;
  width:300px;
  padding:14px;
  vertical-align: top;
}

.form {
  margin-top:50px;
}

.drop_down_list {
  border:1px solid #8de0d2;
  width: 290px;
  height:50px;
  background-color: white;
  margin-top:22px;
  padding: 8px 12px;
  position: relative;
}

.list_label {
  font-size: 30px;
  color: #e2e2e2;
  font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
}

.inline_text {
  display: inline-block;
  width: 228px;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 15px;
  color: #aeaeae;
}

.checkbox {
  position: relative;
}

.check-box{
  padding: 30px 30px 30px 0;
}

.checkbox input {
  display: block;
  opacity: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  cursor: pointer;
}

.checkbox label {
  display: block;
  padding-left: 65px;
  position: relative;
  font-size: 28px;
  color: #cecece;
  line-height: 120%;
  padding-top: 10px;
  cursor: pointer;
}

.checkbox label::before, .checkbox label::after {
  border: 1px solid #27c7ab;
  content: "";
  display: block;
  left: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  top: 0;
}
.checkbox label::after {
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
  border: 0;
  display: none;
}

.checkbox input:checked + label::after {
  display: block;
}

.active {
  background: url('../images/form_ok.jpg');
  width: 48px;
  height: 40px;
}

.image_part img{
  margin-top: 110px;
  margin-left: 38px;
}

.application .green_bell {
  background-color: #24baa0;
  width: 200px;
  height: 6px;
  display: inline-block;
  margin: 5px 0 5px 0;
}

.summary_panel {
  background-color: white;
  width:100%;
  height:195px;
  padding:10px;
  margin-top: 50px;
}

.application .green_button {
  background-color: #27c7ab;
  color: white;
  text-align:center;
  text-transform: uppercase;
  width: 200px;
  padding: 10px 30px;
  font-size: 24px;
  display: inline-block;
  font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;
  margin-top: 20px;
  margin-left: 29px;
  border-radius: 8px;
  text-decoration: none;
}

.panel_left {
  display: inline-block;
  width: 133px;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 135px;
}

.panel_right {
  display: inline-block;
  width: 100px;
  border-left:1px solid #e7e7e7;
  text-align: right;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 135px;
}

.panel_left h4 , .panel_right h4{
  color: #24baa0;
  font-size: 23px;
}

.panel_left span{
  margin-top:10px;
  font-size: 22px;
  color: #5b5a5a;
  display: block;
}

.panel_right span {
  display: block;
  font-size: 22px;
  color: #24baa0;
  margin-top:10px;
}

.sum_label{
  display: inline-block;
  width: 133px;
  margin-top: 10px;
  font-size: 22px;
  color: #5b5a5a;
}

.sum {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-top: 10px;
  font-size: 22px;
  color: #24baa0;
}

.list_arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #24baa0;
  display:block;
  position: absolute;
  right: 14px;
  top: 20px;
  cursor: pointer;
}

.list_fold{
  border-top: 0;
  border-bottom: 15px solid #24baa0;
}

.list_panel {
  background-color: white;
  border: 1px solid #ccc;
  width: 298px;
  padding-left: 15px;
  padding-bottom: 10px;
  list-style: none;
  margin: 0;
  left: 0px;
  z-index: 2;
  position: absolute;
  top: 54px;
}

.list_panel li {
  margin-top:10px;
  cursor: pointer;
  color: #585858;
}

.list_panel li:hover{
  font-weight: bold;
}

.title {
  height: 30px;
  font-weight: bolder;
}

.contact{
    width: 100%;
    padding:50px 0;
}

form{
    width: 61%;
    float: left;
    margin-top: 34px;
}
::-webkit-input-placeholder {
    font-size: 33px;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 100;
    color: #c4c4c4;
}
::-moz-placeholder {
    font-size: 33px;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 100;
    color: #c4c4c4;
}
:-ms-input-placeholder {
    font-size: 33px;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 100;
    color: #c4c4c4;
}
:-moz-placeholder {
    font-size: 33px;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 100;
    color: #c4c4c4;
}

form p {
  padding: 13px 10px 13px 2px;
}

input[type="text"],
input[type="email"], textarea{
  border: 1px solid #25b9a3;
  color: #555;
  display: block;
  width: 100%;
  font-size: 30px;
  padding: 15px;
}

textarea{
    height: 190px;
    line-height: 150%;
    resize: none;
}

.agree{
    width: 39%;
    float:right;
    margin-top: 18px;
    padding-left: 45px;
}
.agree img{
    margin-bottom: 31px;
    margin-left: 23px;
}

.agree label{
    font-size: 20px;
    padding-top: 0;
}

input[type="submit"] {
    background: #25b9a3;
    color: #fff;
    cursor: pointer;
    font-size: 33px;
    font-weight: 800;
    border-color: transparent;
    border-radius: 10px;
    font-family: 'Raleway', 'Arial', sans-serif;
    padding: 13px 110px;
    margin-top: 40px;
}

footer{
    height: 93px;
    color: #989898;
}

footer p{
    padding: 24px 9px 0 0;
    font-size: 15px;
    letter-spacing: 1.2px;
    float: left;
}

.social-ico{
    float: right;
    margin-right: 61px;
    margin-top: 10px;
}

.logo{
    font-size: 20px;
    float: right;
}
.logo a{
      color: #989898;
}
